
body {
	background-color: #FFF;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #dedaa3;
	opacity: 0;
    transition: opacity 2s;
	text-align: center;
    -webkit-transition: opacity 2s; /* Safari */
}

div {
	box-sizing: border-box;
	width: 100%;
}

.clear_top {
	clear: both;
	margin: 80px auto 20px auto;
	width: 100%;
}

.clear_bottom {
	clear: both;
	margin: 20px auto 80px auto;
	width: 100%;
}

.clear {
	clear: both;
	margin: auto;
	width: 100%;
}

.navigator {
	font-family: 'Oswald', sans-serif;
	font-size: 10px;
	background color: white;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	padding-top: 210px;
	overflow-x: auto;
	z-index: 1000;
	/*border-bottom: 3px solid #999;*/
	height: 300px;
	overflow-y: hidden;
	text-transform: uppercase
}

#homepage .navigator {
	padding-top: 2em;
	height: auto;
	border: none;
	position: relative;
}

.header {
  background-size: cover;
  background-position: top;
  height: 300px;
  width: 100%;
  position: fixed;
  z-index: 999;
  margin: auto;
  background-image: url("Photos/propcrop2.jpeg")
}

#homepage .header {
	height: 100%;
	overflow-y: auto;
	background-image: url("Photos/Proposal2.jpeg")
 }
/*
 #details .header {
	height: 70px
} 
*/
.container {
	position: relative;
	top: 320px;
	width: 100%;
	height: 100%;
	overflow: auto;
}
/*
#details .container {
	top: 100px
}
*/

.social {
	margin: 50px auto;
}

.social-text {
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 10px;
}

.subright,
.subleft {
  display: inline-block;
  margin: 0px 2%;
  text-align: center;
  width: 45%;
  position: relative;
  top: 0;
}

.class .subright, .class .subleft {
	margin: 15px 2%;
}

.subright {
	float: right;
}

.subleft {
	float: left;
}

.round {
	border-radius: 50px;
}

.subright img,
.subleft img {
	width: 100%;
}

.left {
	width: 75%;
  	margin: 10px 0;
	float: left;
	padding: 0 2.5%;
	text-align: left;
}

.right {
	width: 25%;
  	margin: 10px 0;
	float: right;
	padding: 0 2.5%;
	text-align: left;
	border-left: 2px dashed pink;
}

.class_head {
	display: block;
	margin: 10px auto;
	text-align: center;
	width: 90%;
	clear: both;
	float: none;
}

.class_button {
	display: inline-block;
	box-sizing: content-box;
	width: 10px;
	height: 10px;
	list-style-image: 
}

.button {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-align: center;
	width: 100%;
	border-radius: 5px;
	color: white;
	background-color: #a99c40;
	padding: 10px 40px;
	text-decoration: none;
}

.button:hover {
	background-color: white;
	color: #21090c;
}

.us {
	margin: auto;
	width: 100%;
	padding-top: 10px;
}

.us img {
	width: 45%;
	border-radius: 50px;
}

.redirect {
	margin: 40px auto 30px auto;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-align: center;
	clear: both;
	bottom: 20px;
}	

.footer {
	margin-bottom: 20px;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 10px;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 80px;
	font-family: 'Roboto Mono', sans-serif;
	color: white;
	font-weight: 500;
	text-align: center;
	margin: auto;
	text-transform: uppercase;
}


#homepage h1 {
	box-sizing: border-box;
	padding-top: 100px;
	font-size: 500%;
	height: auto;
	position: relative;
	width: 100%;
	line-height: 1.2;
	color: #21090c;
	text-transform: lowercase;
}

/*
#details h1 {
	text-transform: uppercase;
	font-size: 60px;
	font-family: 'Oswald', sans-serif;
}
*/

.header h1 {
	padding-top: 60px;
}


h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	color: #21090c;
	position: relative;
	top: 2px;
}


#homepage h2 {
	font-size: 300%;
	color: white;
}

h3 {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	font-height: 20px;
	margin: 30px auto 5px auto;
}

.redirect h3 {
	margin: 0px auto 30px auto;
}

h4 {
	font-size: 15px;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	margin: 2px auto;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	top: 6px;
	position: relative;
	opacity: 0;
}

#details p {
	top: 2px
}

ul {
	margin: auto;
	padding: 0;
	text-align: center;
}

.right ul {
	margin: 2px;
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
	padding-left: 30px;
}

.class_head li {
	display: inline-block;
	list-style: none;
}

.class li {
	margin: auto;
	text-align: center;
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	display: block;
	list-style-type: circle;
}

.navigator li {
	margin: auto;
	display: inline-block;
	height: 50px;
}

.right li {
	height: auto;
}

.social li {
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	background-color: #a99c40;
	display: inline-block;
	height: 50px;
	color: #21090c
}

.social li:hover {
	background-color: white;
	color: #a99c40;
}

.navigator a {
	border-radius: 25px;
	border: none;
	color: #21090c;
	background-color: white;
	padding: 10px 40px;
	text-decoration: none;
}

a:hover,
.class_button:hover {
	color: white;
	border-radius: 15px;
}

.navigator a:hover {
	background-color: #21090c;
	text-transform: none
}

#page a {
	border-radius: 10px;
	background-color: #a99c40;
}

#page a:hover{
	border-radius: 15px;
	}
