* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: 'Amatic SC', cursive;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
}

.navigator {
	font-family: 'Megrim', cursive;
	font-size: 20px;
	margin: auto;
}

p {
	font-family: 'Patrick Hand', cursive;
}

.header {
	margin: auto;
}
