* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px black;
}

.header {
	margin: auto;
	text-align: center;
}

.navigator {
	font-family: 'Megrim', cursive;
	font-size: 20px;
	margin: auto;
	text-align: center;
}

.redirect {
	margin: auto;
	font-family: 'Megrim',cursive;
	font-size: 20px;
	text-align: center;
	color: pink;
}	

p {
	font-family: 'Patrick Hand', cursive;
}

li {
	display: inline-block;
	margin: auto;
}

h1 {
	font-family: 'Amatic SC', cursive;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
}
