* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1.header {
	font-family: 'Amatic SC', cursive;
}

p.header {
	font-family: 'Shadows Into Light', cursive;
}

.navigator {
	font-family: 'Shadows Into Light', cursive;
}
